#container{
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}
.box{
    width: 16px;
    height: 16px;
    border: 1px solid blue;
}
.hover{
    width: 16px;
    height: 16px;
    border: 1px solid blue;
    background-color: red;
}